
<nav class="navbar navbar-expand-lg bg-light">

    <!-- Insert container-fluid div class-->
    <div class="container-fluid">

        <!-- Add brand hyperlink to home page-->
        <a href="/" class="navbar-brand">
            <img src="/images/bdpalogo.png" alt="HOME LOGO" width="45" height="45">
        </a>

        <span class="navbar-text navbar-text-large"> ELECTIONS24 </span>
        <span class="navbar-text"> Total number of upcoming elections: <span id="UpcomingElections"><%= upcomingElections %></span> </span>
        <span class="navbar-text"> Total number of open elections: <span id="OpenElections"><%= openElections %></span> </span>
        <span class="navbar-text"> Total number of closed elections: <span id="ClosedElections"><%= closedElections %>  </span></span>

        <!-- button for collapsing menu-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
