<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>Elections will go here </p>
    <p> Go to <a href="/register"> register a new user </a> </p>
    <!-- <p>Please log in:</p>
    <form method="post">
      <label for="uname"> Username: </label>
      <input type="text" name="uname" id="uname"> <br>
      <label for="pwd"> Password </label>
      <input type="password" name="pwd" id="pwd">
      <input type="submit" value="LOGIN">
    </form> -->
  </body>
</html>