<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Please log in:</p>
    <form method="post">
      <label for="uname"> Username: </label>
      <input type="text" name="uname" id="uname"> <br>
      <label for="pwd"> Password </label>
      <input type="password" name="pwd" id="pwd">
      <input type="submit" value="LOGIN">
    </form>
  </body>
</html>
